.wl-colorscheme {
	--wl-color1: #2d3436;
	--wl-color2: #f8f8f8;
	--wl-color3: #c8c8c8;
}

body {
	color: var(--wl-color1);
	background-color: var(--wl-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.wl-notice {
	color: blue;
	font-style: italic;
}

.wl-header {
	color: var(--wl-color2);
	background-color: var(--wl-color1);
	border-color: var(--wl-color2);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 6px;
}

.wl-logo {
	margin-left: -25px;
	margin-bottom: 16px;
}

select.wl-control {
	font-size: 12px;
}

label.wl-radio {
	font-size: 12px;
	margin-right: 6px;
}

img.wl-instructor-info {
	width: 75px;
	height: auto;
}

.wl-section-label {
	color: white;
	background-color: #2f8d98;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	padding-left: 8px;
}

