/*-------------------------------------------------------------------*/
 /* styling for welcome message navigation                           */
 /* note this is intended to supplement the main CSS                 */
 /*------------------------------------------------------------------*/

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice {
  float: right;  
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.4em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

.controlbar {
  color: white;
  background-color: black;
  border: 1px solid white;
  padding-top: 0.4em;
  min-height: 2.7em;
  margin-bottom: 0.4em;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.controlbar-title {
  display: inline-block;
  font-size: 1.1em;
  margin-left: 0.2em;
}

.controlbar-select {
  margin-left: 0.4em;
}

.controlbar-audience {
  margin-left: 0.4em;
}

#iconLink {
  margin-left: 0.8em;
}

#iconMessage {
  margin-left: 0.4em;
}

/*-- rendered copy style --*/
#copyRenderedTarget {
  color: black;
  background-color: white;
}
/*-- end of rendered copy style --*/
